/* common styles */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Mulish';
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}

.para {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.head {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

/* nav bar */
nav {
    width: 81.25%;
    margin: 30px auto 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 2.75rem;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.bar{
    display: none;
}


/* banner styles */
#banner {
    width: 81.25%;
    margin: 0 auto 90px;
    text-align: center;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    border-radius: 16px;
}

#banner h3 {
    padding-top: 9%;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    /* border: 1px solid black; */
    margin-bottom: 1.5rem;

}

#banner p {
    padding-top: 0;
    padding-bottom: 3rem;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 57.77%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

#banner form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    /* border: 1px solid black; */
    width: 69%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 1rem 1rem;
}

#banner form input,
select {
    border-radius: 8px;
    background: #FFF;
    padding: 1rem 5.25rem 1rem 1rem;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border: 0;
}

#banner button {
    padding: 1rem 2rem;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

#banner div {
    padding-bottom: 9%;
}

/* tour styles */
#tour {
    width: 81.25%;
    margin: 0 auto 6.4rem;
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    gap: 70px;
}

#first-para {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.tour-text ul li {
    margin-bottom: 1rem;
}

.tour-text button {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.875rem 2.125rem;
}

#second-para {
    margin-bottom: 2rem;
}

.tour-image img {
    margin-top: 20px;
}

/* destination styles */
#destination {
    width: 81.25%;
    margin: auto;
    text-align: center;
}

.destination-images {
    margin-top: 3rem;
    margin-bottom: 6.25rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid: 1;
    gap: 24px;
}

.destination-images div {
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

#img1 {
    background-image: url('../Images/Rectangle\ 5.png');
    grid-column: 1/span 6;
}

#img2 {
    background-image: url('../Images/Rectangle\ 8.png');
    grid-column: 7/span 6;
}

#img3 {
    background-image: url('../Images/Rectangle\ 6.png');
    grid-column: 1/span 4;
}

#img4 {
    background-image: url('../Images/Rectangle\ 7.png');
    grid-column: 5/span 5;
}

#img5 {
    background-image: url('../Images/Rectangle\ 9.png');
    grid-column: 10/span 3;
}

#img6 {
    background-image: url('../Images/Rectangle\ 11.png');
    grid-column: 1/span 5;
}

#img7 {
    background-image: url('../Images/Rectangle\ 10.png');
    grid-column: 6/span 7;
}

#img1,
#img2,
#img3,
#img4,
#img5,
#img6,
#img7 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* choose */
#choose {
    text-align: center;
    width: 81.25%;
    margin: auto;
}

#choose p {
    margin-bottom: 3rem;
}

#choose>.choose-card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    text-align: left;
}

.choose-card h4 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

#card1 {
    grid-column: 1/span 6;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#card2 {
    grid-column: 7/span 6;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#card3 {
    grid-column: 4/span 6;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

#card1,
#card2,
#card3 {
    padding: 1.5rem;
}

/* deal */
#deal {
    width: 81.25%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.deal-image {
    border-radius: 16px;
    width: 100%;
    height: 500px;
    margin: auto;
    background-image: url('../Images/Group\ 40.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.deal-card {
    text-align: left;
    width: 50%;
    height: 60%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    margin-right: 55px;
}

.deal-card h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.deal-card h4 {
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
}

.deal-card button {
    padding: 14px 25px;
}

/* deal image 1 */

.deal-image1 {
    border-radius: 16px;
    width: 100%;
    height: 500px;
    margin: auto;
    background-image: url('../Images/Group\ 40.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.deal-card1 {
    text-align: left;
    width: 50%;
    height: 60%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    margin-left: 55px;
}

.deal-card1 h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.deal-card1 h4 {
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
}

.deal-card1 button {
    padding: 14px 25px;
}

#see-button {
    width: 81.25%;
    margin: auto;
    text-align: center;
}

.see {
    margin: 48px auto 70px;
    padding: 14px 20px;
}


/* perfect style */

#perfect {
    width: 81.25%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.perfect-text ul li {
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 1rem;
}

.perfect-text button {
    padding: 1rem 2.8rem;
}

#perfect video {
    border-radius: 16px;
}

/* newsletter styles */
#newsletter {
    width: 81.25%;
    margin: 6.4rem auto 1.9rem;
    /* border: 1px solid black; */
    justify-content: center;
    display: flex;
    gap: 5rem;
}

.newsletter-text {
    padding: 2rem;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter-text h3 {
    font-size: 1.5rem;
}

.newsletter-text p {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
    margin-bottom: 1.5rem;
}

#newsletter form {
    display: flex;
    flex-direction: column;
}

#newsletter form input {
    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 1rem 10rem 1rem 1rem;
    margin-bottom: 1rem;
}

#newsletter form button {
    text-align: center;
    padding: 1rem 5rem;
    border: 1px solid black;
}

#off {
    padding: 1rem;
    width: 18%;
    border-radius: 10.569px;
    background: #FF5400;
    /* border: 1px solid black; */
    position: relative;
    left: 1060px;
    bottom: 200px;
    /* transform: translate(300px, -100px); */
    transform: rotate(-25deg);
}

#off h5 {
    margin: 0;
    /* border: 1px solid black; */
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

#off h4 {
    margin: 0;
    /* border: 1px solid black; */
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

/* footer styles */
footer {
    display: flex;
    background: rgba(19, 19, 24, 0.05);
    justify-content: center;
}

#footer {
    margin-top: 4%;
    width: 60%;
    text-align: center;
    padding-bottom: 3%;
}

#footer h3,
nav h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
    gap: 10px;
}

.footer-icon {
    margin-top: 2rem;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 3.125rem;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
    margin-bottom: 3.125rem;

}

#footer i {
    font-size: 2rem;
}